<mat-form-field>
    <mat-label>Year</mat-label>
      <mat-select (change)="changeYear($event)" [(value)]="selectedYear">
        <mat-option></mat-option>
        <mat-option *ngFor="let year of years" value={{year}}>{{ year }}</mat-option>
      </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Make</mat-label>
      <mat-select (change)="changeMake($event)" [(value)]="selectedMake">
        <mat-option></mat-option>
        <mat-option *ngFor="let make of makes" value={{make}}>{{ make }}</mat-option>
      </mat-select>
</mat-form-field>

<button mat-icon-button color="primary" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
</button>

<table >
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
  </tr>
  <tr *ngFor="let model of models">
    <td>{{model.make}}</td>
    <td>{{model.model}}</td>
    <td>{{model.year}}</td>
  </tr>
</table>
<br>
<button mat-button [disabled]="curPage == 0" (click)="changeBackward()">Previous Page</button>
<button  mat-button (click)="changeForward()" >Next Page</button>
